@font-face {
  font-family: "Flaticon";
  src: url("../assets/site/fonts/icon/font/Flaticon.eot");
  src: url("../assets/site/fonts/icon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../assets/site/fonts/icon/font/Flaticon.woff2") format("woff2"),
    url("../assets/site/fonts/icon/font/Flaticon.woff") format("woff"),
    url("../assets/site/fonts/icon/font/Flaticon.ttf") format("truetype"),
    url("../assets/site/fonts/icon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../assets/site/fonts/icon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-user:before {
  content: "\f100";
}
.flaticon-seller:before {
  content: "\f101";
}
.flaticon-price-tag:before {
  content: "\f102";
}
.flaticon-search-interface-symbol:before {
  content: "\f103";
}
.flaticon-play-button:before {
  content: "\f104";
}
.flaticon-next:before {
  content: "\f105";
}
.flaticon-left-arrow:before {
  content: "\f106";
}
.flaticon-telephone:before {
  content: "\f107";
}
.flaticon-instagram:before {
  content: "\f108";
}
.flaticon-whatsapp:before {
  content: "\f109";
}
.flaticon-facebook:before {
  content: "\f10a";
}
.flaticon-twitter:before {
  content: "\f10b";
}
.flaticon-email:before {
  content: "\f10c";
}
.flaticon-linkedin:before {
  content: "\f10d";
}
.flaticon-pin:before {
  content: "\f10e";
}
.flaticon-telegram:before {
  content: "\f10f";
}
.flaticon-heart:before {
  content: "\f110";
}
.flaticon-share:before {
  content: "\f111";
}
.flaticon-speedometer:before {
  content: "\f112";
}
.flaticon-pencil:before {
  content: "\f113";
}
.flaticon-key:before {
  content: "\f114";
}
.flaticon-shop:before {
  content: "\f115";
}
.flaticon-supplies:before {
  content: "\f116";
}
.flaticon-ticket:before {
  content: "\f117";
}
.flaticon-power-button:before {
  content: "\f118";
}
.flaticon-eye-variant-with-enlarged-pupil:before {
  content: "\f119";
}
.flaticon-telegram-1:before {
  content: "\f11a";
}
.flaticon-power:before {
  content: "\f11b";
}
.flaticon-delivery-truck:before {
  content: "\f11c";
}

$font-Flaticon-user: "\f100";
$font-Flaticon-seller: "\f101";
$font-Flaticon-price-tag: "\f102";
$font-Flaticon-search-interface-symbol: "\f103";
$font-Flaticon-play-button: "\f104";
$font-Flaticon-next: "\f105";
$font-Flaticon-left-arrow: "\f106";
$font-Flaticon-telephone: "\f107";
$font-Flaticon-instagram: "\f108";
$font-Flaticon-whatsapp: "\f109";
$font-Flaticon-facebook: "\f10a";
$font-Flaticon-twitter: "\f10b";
$font-Flaticon-email: "\f10c";
$font-Flaticon-linkedin: "\f10d";
$font-Flaticon-pin: "\f10e";
$font-Flaticon-telegram: "\f10f";
$font-Flaticon-heart: "\f110";
$font-Flaticon-share: "\f111";
$font-Flaticon-speedometer: "\f112";
$font-Flaticon-pencil: "\f113";
$font-Flaticon-key: "\f114";
$font-Flaticon-shop: "\f115";
$font-Flaticon-supplies: "\f116";
$font-Flaticon-ticket: "\f117";
$font-Flaticon-power-button: "\f118";
$font-Flaticon-eye-variant-with-enlarged-pupil: "\f119";
$font-Flaticon-telegram-1: "\f11a";
$font-Flaticon-power: "\f11b";
$font-Flaticon-delivery-truck: "\f11c";
