.opennav {
	font-size: 2rem;
	cursor: pointer;
	i {
		display: flex;
	}
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1010;
	top: 0;
	left: 0;
	background-color: rgba(2, 81, 147, 0.95);
	overflow-x: hidden;
	transition: 1s;
	padding: 3.5rem 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	a {
		padding: 0.4rem 1rem;
		text-decoration: none;
		font-size: 1.5rem;
		color: #fff;
		display: block;
		transition: $dlay;
		text-align: center;
		font-weight: bolder;
		&:hover {
			color: #f9d617;
			font-size: 1.75rem;
		}
	}
	.closebtn {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 3rem;
		padding: 0.5rem;
		i {
			transition: $dlay;
		}
		&:hover {
			i {
				transform: rotate(360deg);
			}
			font-size: 3rem;
		}
	}
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
		a {
			font-size: 18px;
		}
	}
}
@media (max-width: 576px) {
	.container {
		max-width: 97.5%;
		width: 97.5%;
	}
	.btn-fix {
		right: 0.5rem;
		top: 20%;
		padding: 0.25rem;
		a {
			i {
				font-size: 2rem;
			}
		}
		.rotate {
			i {
				padding: 0.45rem;
				font-size: 1rem;
			}
		}
	}
	menu {
		.logo {
			width: 80%;
			padding: 0 !important;
		}
	}
	header {
		.carousel-indicators {
			[data-bs-target] {
				width: 1rem;
				height: 1rem;
			}
		}
	}
	.news-item {
		.bg-news {
			max-width: 350%;
			width: 350%;
		}
	}
	.news {
		.overlay {
			.description {
				&-cap {
					-webkit-line-clamp: 8;
				}
			}
		}
	}
	.products {
		.title {
			top: 25%;
			h2 {
				font-size: 1rem;
			}
		}
	}
	.services {
		.title-serv {
			width: 100%;
		}
		.bg {
			height: auto;
			padding: 1rem 0;
		}
	}
	.footer {
		margin-top: 2rem;
		&-over-sd {
			bottom: 0;
			padding: 1rem;
			h2 {
				font-size: 1rem;
			}
		}
		.img {
			left: 0;
			bottom: 0;
		}
	}
}
@media (min-width: 576px) and (max-width: 768px) {
	.container {
		max-width: 95%;
		width: 95%;
	}
	menu {
		.logo {
			width: 70%;
			padding: 0 !important;
		}
	}
	.news-item {
		.bg-news {
			max-width: 300%;
			width: 300%;
		}
	}
	.news {
		.overlay {
			.description {
				&-cap {
					-webkit-line-clamp: 8;
				}
			}
		}
	}
	.products {
		.title {
			top: 30%;
			h2 {
				font-size: 1.25rem;
			}
		}
	}
	.services .title-serv {
		width: 90%;
	}
	.footer {
		margin-top: 4rem;
		&-over-sd {
			bottom: 1rem;
			padding: 1rem;
			h2 {
				font-size: 1rem;
			}
		}
		.img {
			left: 0;
			bottom: 0;
		}
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.container {
		max-width: 92.5%;
		width: 92.5%;
	}
	menu {
		.logo {
			width: 70%;
			padding: 0 !important;
		}
	}
	.news-item {
		.bg-news {
			max-width: 190%;
			width: 190%;
		}
	}
	.news {
		.overlay {
			.description {
				&-cap {
					-webkit-line-clamp: 8;
				}
			}
		}
	}
	.products {
		.title {
			top: 35%;
			h2 {
				font-size: 1.25rem;
			}
		}
	}
	.footer {
		margin-top: 10rem;
		&-over-sd {
			bottom: 1rem;
			padding: 1.5rem;
			h2 {
				font-size: 1.25rem;
			}
		}
		.img {
			left: 0;
			bottom: 0;
		}
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.container {
		max-width: 90%;
		width: 90%;
	}
	menu {
		.logo {
			width: 60%;
			padding: 0 !important;
		}
	}
	.news-item {
		.bg-news {
			max-width: 130%;
			width: 130%;
		}
	}
	.news {
		.overlay {
			.description {
				&-cap {
					-webkit-line-clamp: 6;
				}
			}
		}
	}
	.products {
		.title {
			top: 35%;
			h2 {
				font-size: 1.5rem;
			}
		}
	}
	.footer {
		margin-top: 15rem;
		&-over-sd {
			bottom: 1.5rem;
			padding: 1.5rem;
			h2 {
				font-size: 1.5rem;
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1400px) {
	.container {
		max-width: 87.5%;
		width: 87.5%;
	}
	menu {
		.logo {
			width: 50%;
			padding: 0 !important;
		}
	}
	.news-item {
		.bg-news {
			max-width: 110%;
			width: 110%;
		}
	}
	.news {
		.overlay {
			.description {
				&-cap {
					-webkit-line-clamp: 6;
				}
			}
		}
	}
	.products {
		.title {
			h2 {
				font-size: 1.5rem;
			}
		}
	}
	.footer {
		margin-top: 17rem;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 85%;
		width: 85%;
	}
	.news-item {
		.bg-news {
			max-width: 100%;
			width: 100%;
		}
	}
	.news {
		.overlay {
			.description {
				&-cap {
					-webkit-line-clamp: 8;
				}
			}
		}
	}
}
