// colors
$bodyone: #fff;
$bodytwo: #f8f8f8;
$one: #005075;
$two: #f9d617;

// var
$dlay: 0.5s ease-in-out;
$runded: 1vw;
// s
.form-control {
	&:focus {
		color: #212529;
		border-color: transparent;
		outline: 0;
		box-shadow: none;
	}
}
.bi-facebook {
	color: #415e9b;
}
.bi-pinterest {
	color: #e60023;
}
.bi-telegram {
	color: #32afed;
}
.bi-instagram {
	background: -webkit-linear-gradient(#4762d8, #da2981, #ffd369);
	background-clip: border-box;
	background-clip: border-box;
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.bi-whatsapp {
	color: #4ccb5a;
}
.bi-twitter {
	color: #1da1f2;
}

.bi-instagram {
	transition: 1s;
	&:hover i {
		font-size: 6vh;
		background: -webkit-linear-gradient(rgba(71, 98, 216, 1), rgba(218, 41, 129, 1));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.bi-whatsapp:hover {
	color: #4ccb5a !important;
}
.bi-telegram:hover {
	color: #32afed !important;
}
.bi-twitter:hover {
	color: #1da1f2 !important;
}
