@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "fonts";
@import "variables";
@import "functions";

body {
	font-family: sans;
}
a {
	text-decoration: none;
}
.maxcontent {
	width: max-content;
}
.btn-fix {
	background-color: rgba(249, 214, 23, 0.7);
	position: fixed;
	right: 1rem;
	top: 30%;
	padding: 0.5rem;
	border-radius: 0.5rem;
	z-index: 1010;
	a {
		display: flex;
		padding: 0.5rem;
		align-items: center;
		justify-content: center;
		transition: $dlay;
		i {
			font-size: 2.5rem;
			color: #000;
			transition: $dlay;
		}
		&:hover {
			i {
				color: #fff;
			}
		}
	}
	.rotate {
		animation: rotation 5s infinite linear;
		i {
			border: 2px solid #000;
			border-radius: 50%;
			padding: 0.5rem;
			font-size: 1.25rem;
		}
		&:hover {
			i {
				border: 2px solid #fff;
			}
		}
	}

	@keyframes rotation {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(359deg);
		}
	}
}
.bg {
	&one {
		background-color: $one;
	}
	&two {
		background-color: $two;
	}
}
.text {
	&one {
		color: $one;
	}
	&two {
		color: $two;
	}
}
menu {
	background: rgb(248, 248, 248);
	background: linear-gradient(180deg, rgba(248, 248, 248, 1) 50%, rgba(255, 255, 255, 1) 50%);
	margin: 0;
	padding: 0;
	.searching {
		.search {
			&-inline {
				width: 100%;
				left: 0;
				padding-left: 15px;
				padding-right: 15px;
				top: 0;
				height: 100%;
				position: absolute;
				opacity: 0;
				visibility: hidden;
				background-color: #efefef;
				z-index: 9;
				transition: all 0.5s ease-in-out;
				&.search {
					&-visible {
						opacity: 1;
						visibility: visible;
						animation: fadeInDown 0.4s ease-in-out;
					}
				}
				button[type="submit"] {
					position: absolute;
					right: auto;
					top: 0;
					background-color: transparent;
					border: 0px;
					top: 0;
					left: 0;
					padding: 0px;
					cursor: pointer;
					width: 80px;
					height: 100%;
					i {
						font-size: 1.35rem;
						background-color: green;
						color: #fff;
						width: max-content;
						margin: auto;
						padding: 0.35rem;
						border-radius: 0.5rem;
					}
				}
				.form-control {
					border: 0px;
					padding: 20px 90px !important;
					font-size: 2rem;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					height: 50%;
					width: 100%;
					font-weight: 700;
					outline: none;
					display: block;
					width: 100%;
					font-size: 1rem;
					line-height: 1.5;
					color: #495057;
					background-color: #fff;
					background-clip: padding-box;
					border: 1px solid #efefef;
					border-radius: 0.25rem;
					transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
					margin: auto;
				}
				.search-close {
					position: absolute;
					top: 0;
					right: 0;
					width: 80px;
					height: 100%;
					text-align: center;
					display: table;
					background: transparent;
					text-decoration: none;
					display: flex;
					align-items: center;
					justify-content: center;
					i {
						display: table-cell;
						vertical-align: middle;
						font-size: 2rem;
						background-color: red;
						color: #fff;
						border-radius: 0.5rem;
					}
				}
			}
		}
		@keyframes fadeInDown {
			from {
				opacity: 0;
				transform: translate3d(0, -20%, 0);
			}
			to {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		}
	}
	.logo {
		width: 25%;
	}
}
header {
	.carousel-indicators {
		[data-bs-target] {
			width: 1.25rem;
			height: 1.25rem;
			opacity: 1;
			border-radius: 50%;
			background-color: #8c9dad;
		}
		.active {
			background-color: $two;
		}
	}
	.overlay {
		left: 0;
		bottom: 2rem;
		background-color: rgba(0, 80, 117, 0.8);
		height: 60%;
		padding: 2rem;
		display: flex;
		align-items: center;
		font-family: Arial, Helvetica, sans-serif;
		h1 {
			.one{
				font-size: 2.5rem;
			}
			.two{
				font-size: 5rem;
				font-weight: bolder;
			}
		}
	}
}
.products {
	.red {
		background-color: red;
		h2 {
			background: -webkit-linear-gradient(#fff, #fff, #333);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-weight: bolder;
			text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
		}
	}

	h4 {
		margin: 1rem 0;
		color: #000;
		padding: 0.5rem 0.75rem;
		font-size: 1.2rem;
		border-radius: 0.5rem;
	}

	.title {
		background-color: $one;
		padding: 1rem 1.5rem;
		top: 45%;
		width: max-content;
		z-index: 1000;
		&-start {
			right: 0;
			border-radius: 1rem 0 0 1rem;
		}
		&-end {
			left: 0;
			border-radius: 0 1rem 1rem 0;
		}
		h2 {
			margin: 0;
			color: #fff;
			font-weight: bolder;
			font-size: 2.5rem;
		}
	}
	.item {
		img {
			transition: 2s ease-in-out;
			&:hover {
				transform: rotate(360deg);
			}
		}
	}
}
.services {
	.title-serv {
		width: max-content;
		background: rgb(232, 194, 33);
		background: linear-gradient(-90deg, rgba(232, 194, 33, 1) 0%, rgba(255, 255, 255, 1) 100%);
		margin: 1rem auto;
		width: 40%;
		text-align: center;
		h2 {
			padding: 1.25rem 4rem;
			text-shadow: -5px 7px 6px rgba(0, 0, 0, 0.6);
			font-weight: bolder;
			font-size: 1.5rem;
		}
	}
	.bg {
		background-color: #ecfb6a;
		width: 100%;
		height: 10rem;
		a {
			font-size: 1.5rem;
			color: #000;
			font-weight: bolder;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}
	.img {
		left: 0;
		bottom: 0;
		top: 0;
		width: 29%;
	}
}
.news {
	.news-item {
		overflow: hidden;
	}
	.overlay {
		position: absolute;
		top: 0.5rem;
		bottom: 0.5rem;
		right: 0.5rem;
		z-index: 1000;
		.col-sd {
			padding: 0.5rem;
			height: 100%;
		}
		.description {
			text-align: justify;
			padding: 1rem;
			background-color: rgba(255, 255, 255, 0.8);
			height: 100%;
			text-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
			&-cap {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
				line-height: 2rem;
			}
			a {
				float: left;
				background-color: #fff;
				padding: 0.5rem 1rem;
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
				color: #000;
				transition: $dlay;
				&:hover {
					background-color: #000;
					color: #fff;
				}
			}
		}
	}
}
.footer {
	background-color: $one;
	margin-top: 20rem;
	padding: 10rem 0 2.5rem;
	&-over {
		position: relative;
		&-one {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1010;
			img {
				width: 100%;
			}
		}
		&-two {
			position: relative;
			.img {
				transform: rotate(10deg);
				position: absolute;
				left: -4rem;
				bottom: 1rem;
				width: 25%;
				animation: img 10s infinite linear;
			}
			@keyframes img {
				from {
					transform: rotateY(0deg);
				}
				to {
					transform: rotateY(359deg);
				}
			}
		}
		&-sd {
			position: absolute;
			background: rgb(51, 51, 51);
			background: linear-gradient(-90deg, rgba(51, 51, 51, 1) 0%, rgba(255, 255, 255, 0) 100%);
			bottom: 2rem;
			right: 0;
			padding: 2rem 2rem 2rem 8rem;
			color: #fff;
			z-index: 1000;
			h2 {
				font-size: 2rem;
				font-weight: bolder;
			}
		}
	}
}
.product {
	&.list {
		.cr {
			transition: 2s ease-in-out;
			img {
				transition: 2s ease-in-out;
			}
			&:hover {
				img {
					transform: rotate(360deg);
				}
			}
			h4 {
				margin: 1rem 0 2rem;
				padding: 0.25rem 0.5rem;
				border-radius: 1rem;
				color: #fff;
			}
		}
	}
	&.details {
		.detimg {
			border-radius: 1rem;
			img {
				vertical-align: middle;
			}
			.mySlides {
				display: none;
			}
			.cursor {
				cursor: pointer;
			}
			.prev,
			.next {
				cursor: pointer;
				position: absolute;
				top: 40%;
				width: auto;
				padding: 16px;
				margin-top: -50px;
				color: white;
				font-weight: bold;
				font-size: 20px;
				border-radius: 0 3px 3px 0;
				user-select: none;
				-webkit-user-select: none;
			}
			.next {
				right: 0;
				border-radius: 3px 0 0 3px;
			}
			.prev:hover,
			.next:hover {
				background-color: rgba(0, 0, 0, 0.8);
			}
			.numbertext {
				color: #f2f2f2;
				font-size: 12px;
				padding: 8px 12px;
				position: absolute;
				top: 0;
			}
			.caption-container {
				text-align: center;
				background-color: #222;
				padding: 2px 16px;
				color: white;
			}
			.row:after {
				content: "";
				display: table;
				clear: both;
			}
			.column {
				float: left;
				width: 16.66%;
				img {
					width: 100%;
				}
			}
			.demo {
				opacity: 0.6;
			}

			.active,
			.demo:hover {
				opacity: 1;
			}
		}
		.detinfo {
			border-radius: 1rem;
			.desc {
				text-align: justify;
				color: #444;
				line-height: 2rem;
				p,
				span {
					font-size: 1rem;
					margin: 0;
					text-align: justify;
					color: #444;
				}
			}
		}
	}
}
.article {
	&.list {
		.card {
			border-radius: 1rem;
			transition: $dlay;
			img {
				border-radius: 1rem 1rem 0 0;
			}
			h4 {
				font-size: 1.2rem;
				font-weight: bolder;
			}
			&:hover {
				box-shadow: none !important;
				background-color: #fff !important;
			}
		}
	}
	&.details {
		.side {
			position: sticky;
			top: 0.5rem;
			.card {
				border-radius: 1rem;
				transition: $dlay;
				img {
					border-radius: 0 1rem 1rem 0;
				}
				&:hover {
					box-shadow: none !important;
					background-color: #fff !important;
				}
			}
		}
		.info {
			border-radius: 1rem;
			.imgart {
				width: 100%;
				border-radius: 1rem;
			}
			h2 {
				font-size: 2rem;
			}
			.desc {
				text-align: justify;
				color: #444;
				line-height: 2rem;
				p,
				span {
					font-size: 1rem;
					margin: 0;
					text-align: justify;
					color: #444;
				}
				img {
					width: 50%;
					margin: 2.5% 25%;
				}
			}
		}
	}
}
.about {
	.desc {
		text-align: justify;
		color: #444;
		line-height: 2rem;
		p,
		span {
			font-size: 1rem;
			margin: 0;
			text-align: justify;
			color: #444;
		}
		img {
			width: 50%;
			margin: 2.5% 25%;
		}
	}
}

@import "responsive";
