@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@font-face {
  font-family: sans;
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/IRANSansWeb(FaNum).eot");
  src: url("../fonts/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansWeb(FaNum).woff") format("woff2"), url("../fonts/IRANSansWeb(FaNum).woff") format("woff"), url("../fonts/IRANSansWeb(FaNum).ttf") format("truetype"); }

.form-control:focus {
  color: #212529;
  border-color: transparent;
  outline: 0;
  box-shadow: none; }

.bi-facebook {
  color: #415e9b; }

.bi-pinterest {
  color: #e60023; }

.bi-telegram {
  color: #32afed; }

.bi-instagram {
  background: -webkit-linear-gradient(#4762d8, #da2981, #ffd369);
  background-clip: border-box;
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bi-whatsapp {
  color: #4ccb5a; }

.bi-twitter {
  color: #1da1f2; }

.bi-instagram {
  transition: 1s; }
  .bi-instagram:hover i {
    font-size: 6vh;
    background: -webkit-linear-gradient(#4762d8, #da2981);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.bi-whatsapp:hover {
  color: #4ccb5a !important; }

.bi-telegram:hover {
  color: #32afed !important; }

.bi-twitter:hover {
  color: #1da1f2 !important; }

body {
  font-family: sans; }

a {
  text-decoration: none; }

.maxcontent {
  width: max-content; }

.btn-fix {
  background-color: rgba(249, 214, 23, 0.7);
  position: fixed;
  right: 1rem;
  top: 30%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 1010; }
  .btn-fix a {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out; }
    .btn-fix a i {
      font-size: 2.5rem;
      color: #000;
      transition: 0.5s ease-in-out; }
    .btn-fix a:hover i {
      color: #fff; }
  .btn-fix .rotate {
    animation: rotation 5s infinite linear; }
    .btn-fix .rotate i {
      border: 2px solid #000;
      border-radius: 50%;
      padding: 0.5rem;
      font-size: 1.25rem; }
    .btn-fix .rotate:hover i {
      border: 2px solid #fff; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.bgone {
  background-color: #005075; }

.bgtwo {
  background-color: #f9d617; }

.textone {
  color: #005075; }

.texttwo {
  color: #f9d617; }

menu {
  background: #f8f8f8;
  background: linear-gradient(180deg, #f8f8f8 50%, white 50%);
  margin: 0;
  padding: 0; }
  menu .searching .search-inline {
    width: 100%;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    top: 0;
    height: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: #efefef;
    z-index: 9;
    transition: all 0.5s ease-in-out; }
    menu .searching .search-inline.search-visible {
      opacity: 1;
      visibility: visible;
      animation: fadeInDown 0.4s ease-in-out; }
    menu .searching .search-inline button[type="submit"] {
      position: absolute;
      right: auto;
      top: 0;
      background-color: transparent;
      border: 0px;
      top: 0;
      left: 0;
      padding: 0px;
      cursor: pointer;
      width: 80px;
      height: 100%; }
      menu .searching .search-inline button[type="submit"] i {
        font-size: 1.35rem;
        background-color: green;
        color: #fff;
        width: max-content;
        margin: auto;
        padding: 0.35rem;
        border-radius: 0.5rem; }
    menu .searching .search-inline .form-control {
      border: 0px;
      padding: 20px 90px !important;
      font-size: 2rem;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 50%;
      width: 100%;
      font-weight: 700;
      outline: none;
      display: block;
      width: 100%;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #efefef;
      border-radius: 0.25rem;
      transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      margin: auto; }
    menu .searching .search-inline .search-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      height: 100%;
      text-align: center;
      display: table;
      background: transparent;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      menu .searching .search-inline .search-close i {
        display: table-cell;
        vertical-align: middle;
        font-size: 2rem;
        background-color: red;
        color: #fff;
        border-radius: 0.5rem; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
  menu .logo {
    width: 25%; }

header .carousel-indicators [data-bs-target] {
  width: 1.25rem;
  height: 1.25rem;
  opacity: 1;
  border-radius: 50%;
  background-color: #8c9dad; }

header .carousel-indicators .active {
  background-color: #f9d617; }

header .overlay {
  left: 0;
  bottom: 2rem;
  background-color: rgba(0, 80, 117, 0.8);
  height: 60%;
  padding: 2rem;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif; }
  header .overlay h1 .one {
    font-size: 2.5rem; }
  header .overlay h1 .two {
    font-size: 5rem;
    font-weight: bolder; }

.products .red {
  background-color: red; }
  .products .red h2 {
    background: -webkit-linear-gradient(#fff, #fff, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1); }

.products h4 {
  margin: 1rem 0;
  color: #000;
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  border-radius: 0.5rem; }

.products .title {
  background-color: #005075;
  padding: 1rem 1.5rem;
  top: 45%;
  width: max-content;
  z-index: 1000; }
  .products .title-start {
    right: 0;
    border-radius: 1rem 0 0 1rem; }
  .products .title-end {
    left: 0;
    border-radius: 0 1rem 1rem 0; }
  .products .title h2 {
    margin: 0;
    color: #fff;
    font-weight: bolder;
    font-size: 2.5rem; }

.products .item img {
  transition: 2s ease-in-out; }
  .products .item img:hover {
    transform: rotate(360deg); }

.services .title-serv {
  width: max-content;
  background: #e8c221;
  background: linear-gradient(-90deg, #e8c221 0%, white 100%);
  margin: 1rem auto;
  width: 40%;
  text-align: center; }
  .services .title-serv h2 {
    padding: 1.25rem 4rem;
    text-shadow: -5px 7px 6px rgba(0, 0, 0, 0.6);
    font-weight: bolder;
    font-size: 1.5rem; }

.services .bg {
  background-color: #ecfb6a;
  width: 100%;
  height: 10rem; }
  .services .bg a {
    font-size: 1.5rem;
    color: #000;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }

.services .img {
  left: 0;
  bottom: 0;
  top: 0;
  width: 29%; }

.news .news-item {
  overflow: hidden; }

.news .overlay {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 1000; }
  .news .overlay .col-sd {
    padding: 0.5rem;
    height: 100%; }
  .news .overlay .description {
    text-align: justify;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    text-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2); }
    .news .overlay .description-cap {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 2rem; }
    .news .overlay .description a {
      float: left;
      background-color: #fff;
      padding: 0.5rem 1rem;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      color: #000;
      transition: 0.5s ease-in-out; }
      .news .overlay .description a:hover {
        background-color: #000;
        color: #fff; }

.footer {
  background-color: #005075;
  margin-top: 20rem;
  padding: 10rem 0 2.5rem; }
  .footer-over {
    position: relative; }
    .footer-over-one {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1010; }
      .footer-over-one img {
        width: 100%; }
    .footer-over-two {
      position: relative; }
      .footer-over-two .img {
        transform: rotate(10deg);
        position: absolute;
        left: -4rem;
        bottom: 1rem;
        width: 25%;
        animation: img 10s infinite linear; }

@keyframes img {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(359deg); } }
    .footer-over-sd {
      position: absolute;
      background: #333333;
      background: linear-gradient(-90deg, #333333 0%, rgba(255, 255, 255, 0) 100%);
      bottom: 2rem;
      right: 0;
      padding: 2rem 2rem 2rem 8rem;
      color: #fff;
      z-index: 1000; }
      .footer-over-sd h2 {
        font-size: 2rem;
        font-weight: bolder; }

.product.list .cr {
  transition: 2s ease-in-out; }
  .product.list .cr img {
    transition: 2s ease-in-out; }
  .product.list .cr:hover img {
    transform: rotate(360deg); }
  .product.list .cr h4 {
    margin: 1rem 0 2rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    color: #fff; }

.product.details .detimg {
  border-radius: 1rem; }
  .product.details .detimg img {
    vertical-align: middle; }
  .product.details .detimg .mySlides {
    display: none; }
  .product.details .detimg .cursor {
    cursor: pointer; }
  .product.details .detimg .prev,
  .product.details .detimg .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none; }
  .product.details .detimg .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .product.details .detimg .prev:hover,
  .product.details .detimg .next:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  .product.details .detimg .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0; }
  .product.details .detimg .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white; }
  .product.details .detimg .row:after {
    content: "";
    display: table;
    clear: both; }
  .product.details .detimg .column {
    float: left;
    width: 16.66%; }
    .product.details .detimg .column img {
      width: 100%; }
  .product.details .detimg .demo {
    opacity: 0.6; }
  .product.details .detimg .active,
  .product.details .detimg .demo:hover {
    opacity: 1; }

.product.details .detinfo {
  border-radius: 1rem; }
  .product.details .detinfo .desc {
    text-align: justify;
    color: #444;
    line-height: 2rem; }
    .product.details .detinfo .desc p,
    .product.details .detinfo .desc span {
      font-size: 1rem;
      margin: 0;
      text-align: justify;
      color: #444; }

.article.list .card {
  border-radius: 1rem;
  transition: 0.5s ease-in-out; }
  .article.list .card img {
    border-radius: 1rem 1rem 0 0; }
  .article.list .card h4 {
    font-size: 1.2rem;
    font-weight: bolder; }
  .article.list .card:hover {
    box-shadow: none !important;
    background-color: #fff !important; }

.article.details .side {
  position: sticky;
  top: 0.5rem; }
  .article.details .side .card {
    border-radius: 1rem;
    transition: 0.5s ease-in-out; }
    .article.details .side .card img {
      border-radius: 0 1rem 1rem 0; }
    .article.details .side .card:hover {
      box-shadow: none !important;
      background-color: #fff !important; }

.article.details .info {
  border-radius: 1rem; }
  .article.details .info .imgart {
    width: 100%;
    border-radius: 1rem; }
  .article.details .info h2 {
    font-size: 2rem; }
  .article.details .info .desc {
    text-align: justify;
    color: #444;
    line-height: 2rem; }
    .article.details .info .desc p,
    .article.details .info .desc span {
      font-size: 1rem;
      margin: 0;
      text-align: justify;
      color: #444; }
    .article.details .info .desc img {
      width: 50%;
      margin: 2.5% 25%; }

.about .desc {
  text-align: justify;
  color: #444;
  line-height: 2rem; }
  .about .desc p,
  .about .desc span {
    font-size: 1rem;
    margin: 0;
    text-align: justify;
    color: #444; }
  .about .desc img {
    width: 50%;
    margin: 2.5% 25%; }

.opennav {
  font-size: 2rem;
  cursor: pointer; }
  .opennav i {
    display: flex; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1010;
  top: 0;
  left: 0;
  background-color: rgba(2, 81, 147, 0.95);
  overflow-x: hidden;
  transition: 1s;
  padding: 3.5rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .sidenav a {
    padding: 0.4rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    display: block;
    transition: 0.5s ease-in-out;
    text-align: center;
    font-weight: bolder; }
    .sidenav a:hover {
      color: #f9d617;
      font-size: 1.75rem; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3rem;
    padding: 0.5rem; }
    .sidenav .closebtn i {
      transition: 0.5s ease-in-out; }
    .sidenav .closebtn:hover {
      font-size: 3rem; }
      .sidenav .closebtn:hover i {
        transform: rotate(360deg); }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
    .sidenav a {
      font-size: 18px; } }

@media (max-width: 576px) {
  .container {
    max-width: 97.5%;
    width: 97.5%; }
  .btn-fix {
    right: 0.5rem;
    top: 20%;
    padding: 0.25rem; }
    .btn-fix a i {
      font-size: 2rem; }
    .btn-fix .rotate i {
      padding: 0.45rem;
      font-size: 1rem; }
  menu .logo {
    width: 80%;
    padding: 0 !important; }
  header .carousel-indicators [data-bs-target] {
    width: 1rem;
    height: 1rem; }
  .news-item .bg-news {
    max-width: 350%;
    width: 350%; }
  .news .overlay .description-cap {
    -webkit-line-clamp: 8; }
  .products .title {
    top: 25%; }
    .products .title h2 {
      font-size: 1rem; }
  .services .title-serv {
    width: 100%; }
  .services .bg {
    height: auto;
    padding: 1rem 0; }
  .footer {
    margin-top: 2rem; }
    .footer-over-sd {
      bottom: 0;
      padding: 1rem; }
      .footer-over-sd h2 {
        font-size: 1rem; }
    .footer .img {
      left: 0;
      bottom: 0; } }

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 95%;
    width: 95%; }
  menu .logo {
    width: 70%;
    padding: 0 !important; }
  .news-item .bg-news {
    max-width: 300%;
    width: 300%; }
  .news .overlay .description-cap {
    -webkit-line-clamp: 8; }
  .products .title {
    top: 30%; }
    .products .title h2 {
      font-size: 1.25rem; }
  .services .title-serv {
    width: 90%; }
  .footer {
    margin-top: 4rem; }
    .footer-over-sd {
      bottom: 1rem;
      padding: 1rem; }
      .footer-over-sd h2 {
        font-size: 1rem; }
    .footer .img {
      left: 0;
      bottom: 0; } }

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 92.5%;
    width: 92.5%; }
  menu .logo {
    width: 70%;
    padding: 0 !important; }
  .news-item .bg-news {
    max-width: 190%;
    width: 190%; }
  .news .overlay .description-cap {
    -webkit-line-clamp: 8; }
  .products .title {
    top: 35%; }
    .products .title h2 {
      font-size: 1.25rem; }
  .footer {
    margin-top: 10rem; }
    .footer-over-sd {
      bottom: 1rem;
      padding: 1.5rem; }
      .footer-over-sd h2 {
        font-size: 1.25rem; }
    .footer .img {
      left: 0;
      bottom: 0; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 90%;
    width: 90%; }
  menu .logo {
    width: 60%;
    padding: 0 !important; }
  .news-item .bg-news {
    max-width: 130%;
    width: 130%; }
  .news .overlay .description-cap {
    -webkit-line-clamp: 6; }
  .products .title {
    top: 35%; }
    .products .title h2 {
      font-size: 1.5rem; }
  .footer {
    margin-top: 15rem; }
    .footer-over-sd {
      bottom: 1.5rem;
      padding: 1.5rem; }
      .footer-over-sd h2 {
        font-size: 1.5rem; } }

@media (min-width: 1200px) and (max-width: 1400px) {
  .container {
    max-width: 87.5%;
    width: 87.5%; }
  menu .logo {
    width: 50%;
    padding: 0 !important; }
  .news-item .bg-news {
    max-width: 110%;
    width: 110%; }
  .news .overlay .description-cap {
    -webkit-line-clamp: 6; }
  .products .title h2 {
    font-size: 1.5rem; }
  .footer {
    margin-top: 17rem; } }

@media (min-width: 1400px) {
  .container {
    max-width: 85%;
    width: 85%; }
  .news-item .bg-news {
    max-width: 100%;
    width: 100%; }
  .news .overlay .description-cap {
    -webkit-line-clamp: 8; } }
